# Secrets
secrets/
*.gpg
*.key

# Ignore unencrypted secrets
secrets/*.yaml
secrets/*.json
secrets/*.txt

# But allow encrypted SOPS files
!secrets/*.sops.yaml
!secrets/*.sops.json

# Nix build artifacts
result
*.drv
*.lock
# Allow flake.lock so Nix Flakes remain deterministic across hosts
!flake.lock
# Git internal files
/hooks/
/info/
/HEAD
/objects/
/refs/
/packed-refs
/config
/description

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE files
*.swp
*.swo
*.tmp
*.bak
*.log
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
nixos-config
